<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <title>MyHealth Sri Lanka Mobile App</title>
    <meta content="">
    <style>
        h1 {
            font-size: 1rem;
        }
    </style>
</head>
<body>
<br>
<header>
    <center><b>MyHealth Sri Lanka Mobile App</b></center><br>
    <center>Privacy policy</center>
    <center>2020</center>
    <center><a href="mailto:info@icta.lk">info@icta.lk</a></center>
</header>
<br><br>
<p>Information and Communication Technology Agency of Sri Lanka (ICTA), with the extensive collaboration of the Ministry of Health, built the MyHealth Sri Lanka app as a free to download and use app. This SERVICE is provided by the Government of Sri Lanka at no cost and is intended for use as is.</p>
<p>This page is used to inform users of our policies regarding the collection, use, and disclosure of Personal Information if anyone decides to use our Service.</p>
<p>By choosing to use our Service, you agree for the specified data to be collected and be used in relation to this policy. The personal information we collect will only be used to provide the intended Services. We will NOT use or share your information with anyone except as described in this Privacy Policy.</p>
<p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible in the <i>MyHealth Sri Lanka</i> mobile app, unless otherwise defined in this Privacy Policy.</p>

<h1>Purpose of the App</h1>
<p>The main purpose of the MyHealth Sri Lanka app is to:</p>
<ul>
    <li>Help the country to minimize the spread of the COVID-19 disease.</li>
    <li>Help the general public get verified information on the current COVID-19 outbreak at regular intervals.</li>
    <li>Provide a way to track and notify if you have been exposed to a person/ persons infected by the COVID-19 virus based on your travel history for the last 14 days.</li>
    <li>Provide a mechanism to register your information in the disease surveillance system managed by the Ministry of Health Sri Lanka.</li>
</ul>

<h1>Privacy:</h1>
<p>For a better experience, while using our Service, we may require you to provide us with certain Personally Identifiable Information (PII).</p>
<ul>
    <li>All your location information will be stored and processed locally (in-device).</li>
    <li>We do not send PII (registration details) and location details to the disease surveillance system of the Ministry of Health unless you explicitly choose to share this information.</li>
    <li>All news and alerts received by this app are verified by the Ministry of Health.</li>
</ul>

<h1>Information Collection and Use:</h1>
<p>The information that we request will be retained by us and used as described in this privacy policy.</p>
<p>The location information will only be stored locally (in-device) and will not be shared with the central server or the disease surveillance system unless you choose to share when needed. The location trail of an individual who was diagnosed with the COVID-19 virus is processed locally and you will receive relevant feedback based on the matching process. If there is a possible contact history based on the location details, the app will prompt you to register with the disease surveillance system.</p>
<p>Further, a third-party product named Log Data is used to collect information in case of an error on the app. Log Data may include information, such as your device Internet Protocol ("IP") address, device model, operating system version, the configuration of the app when utilizing our Service, the time and date of your use of the Service, and other statistics.</p>
<p>The following third-party services are used by this app to collect information that identifies you:</p>
<ul>
    <li>Google Play Services</li>
    <li>Firebase Analytics</li>
    <li>Log Data</li>
</ul>

<h1>Cookies</h1>
<p>Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory.</p>
<p>This Service does not use these "cookies" explicitly. However, the app may use third-party code and libraries that use "cookies" to collect information and improve their services. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some portions of this Service.</p>

<h1>Security</h1>
<p>We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it.</p>

<h1>Links to Other Sites</h1>
<p>This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>

<h1>Children's Privacy</h1>
<p>These Services do not address anyone under the age of 13. We do not knowingly collect Personally Identifiable Information (PII) from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and are aware that your child has provided us with personal information, please contact us so that we will be able to take necessary actions.</p>

<h1>Changes to This Privacy Policy</h1>
<p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.</p>

<h1>Contact Us</h1>
<p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at <a href="mailto:info@icta.lk">info@icta.lk</a>.</p>
</body>
</html>