<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head lang="en">
    <meta charset="UTF-8"/>

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->

    <title>Cases Report Portal</title>
    <meta name="viewport" content="width=device-width">

    <!-- ===============================================-->
    <!--    CSS-->
    <!-- ===============================================-->


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link th:href="@{/css/app.css}" rel="stylesheet">


    <!-- ===============================================-->
    <!--    JSS-->
    <!-- ===============================================-->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4/dist/flatpickr.min.js"></script>
</head>


<body class="bg-gray-50">



<!-- ===============================================-->
<!--    Navigation-->
<!-- ===============================================-->
<nav x-data="{ open: true }" class="bg-gray-800">
    <div class="max-w-6xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <button @click="open = !open" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white transition duration-150 ease-in-out">
                    <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path :class="{'hidden': open, 'inline-flex': !open }" class="inline-flex" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        <path :class="{'hidden': !open, 'inline-flex': open }" class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <!--Desktop Wrapper-->
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex-shrink-0">
                    <img class="block lg:hidden h-8 w-auto" th:src="@{/Covid-19.png}" alt="Covid-19"  />
                    <img class="hidden lg:block h-8 w-auto" th:src="@{/Covid-19.png}"alt="Covid-19" />
                </div>
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex">
                        <a href="/portal/news" class="px-3 py-2 rounded-md text-sm font-medium leading-5 text-gray-300  focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Send Alerts</a>
                        <a href="/portal/cases" class="ml-4 px-3 py-2 rounded-md text-sm font-medium  text-white leading-5 bg-gray-900  hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Send Case</a>
                    </div>
                </div>
            </div>
            <!--Mobile Wrapper-->
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <button class="p-1 border-2 border-transparent text-gray-400 rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">
                    <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                    </svg>
                </button>
                <div @click.away="open = false" class="ml-3 relative" x-data="{ open: false }">
                    <div>
                        <button @click="open = !open" class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-white transition duration-150 ease-in-out">
                            <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
                        </button>
                    </div>
                    <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg">
                        <div class="py-1 rounded-md bg-white shadow-xs">
                            <a href="/portal/logout" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out">Sign out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div :class="{'block': open, 'hidden': !open}" class="hidden sm:hidden">
        <div class="px-2 pt-2 pb-3">
            <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Send News Alerts</a>
            <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Send Case</a>
        </div>
    </div>
</nav>


<!-- ===============================================-->
<!--    Main Wrapper-->
<!-- ===============================================-->

<div id="app" class="flex flex-col container max-w-6xl  mx-auto bg-gray-50 py-12 px-3 sm:px-6 lg:px-8">
    <!-- ===============================================-->
    <!--    Header-->
    <!-- ===============================================-->

    <div class="w-full flex flex-col mt-10">
        <div>
            <h1 class="text-4xl font-bold">Case Report Portal </h1>
        </div>
        <div class="mt-2">
            <span class="text-base text-gray-600">Add New Cases Regarding Corona Virus</span>
        </div>
        <hr class="mt-5">
    </div>

    <!-- ===============================================-->
    <!--   Form Wrapper-->
    <!-- ===============================================-->
    <form  method="post">
        <div class="w-full mt-5">

            <!-- ===============================================-->
            <!--   Form-Part-1 General-->
            <!-- ===============================================-->
            <div class="border box-border rounded shadow-md pt-2">
                <h2 class= "bg-white mt-2 px-8 text-left text-2xl leading-9 font-semibold text-gray-900">
                    Case General Details
                </h2>
                <div class="flex mt-2  py-4 flex-col w-full bg-gray-200 px-4">
                    <!--Title Input-->
                    <div class="mt-2">
                        <label class="px-4 text-base text-gray-700 w-full " for="caseNumber">Case Number(DHIS2)<span class="text-red-400">**</span></label>
                        <div class="px-4">
                            <input class=" bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 mt-2 px-4 text-gray-700 leading-tight focus:outline-none focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                   type="text" placeholder="Case Number" name="caseNumber" id="caseNumber"  v-model="cases.caseNumber"  required>
                        </div>
                    </div>

                    <!--Source Input-->
                    <div class="mt-8">
                        <label class="px-4 text-base text-gray-700 w-full" for="message_en">English Message<span class="text-red-400">**</span></label>
                        <div class="px-4">
                                    <textarea rows="2" class=" bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 mt-2 px-4 text-gray-700 leading-tight focus:outline-none focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                              type="text" placeholder="Message in English" id="message_en" v-model="cases.message_en" required></textarea>
                        </div>
                    </div>

                    <div class="mt-8">
                        <label class="px-4 text-base text-gray-700 w-full" for="message_si">Sinhala Message<span class="text-red-400">**</span></label>
                        <div class="px-4">
                                    <textarea rows="2" class=" bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 mt-2 px-4 text-gray-700 leading-tight focus:outline-none focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                              type="text" name="message_si" placeholder="Message in English" id="message_si" v-model="cases.message_si" required></textarea>
                        </div>
                    </div>

                    <div class="mt-8">
                        <label class="px-4 text-base text-gray-700 w-full" for="message_ta">Tamil Message<span class="text-red-400">**</span></label>
                        <div class="px-4">
                                    <textarea rows="2" class=" bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 mt-2 px-4 text-gray-700 leading-tight focus:outline-none focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                              type="text" name="message_ta" placeholder="Message in Tamil" id="message_ta"  v-model="cases.message_ta" required></textarea>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ===============================================-->
            <!--   Form-Part-2 Locations-->
            <!-- ===============================================-->
            <div class="border box-border rounded shadow-md pt-2 mt-8">
                <h2 class= "bg-white mt-2 px-8 text-left text-2xl leading-9 font-semibold text-gray-900">
                   Add Locations
                </h2>
                <div class="flex mt-2  py-4 flex-col w-full bg-gray-200 px-4"
                     v-for="(location , index) in locations" :key="index">

                    <div class="mt-8 flex-row flex-row item-center justifiy-center">
                        <label class="px-4 text-base text-gray-700 w-full" for="location">Location {{location.address}}</label>

                        <button @click="addLocation" type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
                            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
                            <span>Add Location</span>
                        </button>

                    </div>

                    <!--Date Input-->
                    <div class="mt-8">
                        <label class="px-4 text-base text-gray-700 w-full" for="date">Date<span class="text-red-400">**</span></label>
                        <div class="px-4">
                            <flat-pickr class="bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 mt-2 px-4 text-gray-700 leading-tight focus:outline-none focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                        v-model="location.date" :config="configDate" placeholder="Select a date" :name="`locations[${index}][date]`"></flat-pickr>
                        </div>
                    </div>


                    <div class="mt-8 flex flex-row">
                        <!--From Input-->
                        <div class="w-1/2">
                            <label class="px-4 text-base text-gray-700 w-full" for="from">From<span class="text-red-400">**</span></label>
                            <div class="px-4">
                                <flat-pickr class="bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 mt-2 px-4 text-gray-700 leading-tight focus:outline-none focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                            v-model="location.from" :config="config" placeholder="Select a from date" :name="`locations[${index}][from]`"></flat-pickr>
                            </div>
                        </div>
                        <!--To Input-->
                        <div class="w-1/2">
                            <label class="px-4 text-base text-gray-700 w-full" for="to">To<span class="text-red-400">**</span></label>
                            <div class="px-4">
                                <flat-pickr class="bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 mt-2 px-4 text-gray-700 leading-tight focus:outline-none focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                            v-model="location.to" :config="config" placeholder="Select a end date" :name="`locations[${index}][to]`"></flat-pickr>
                            </div>
                        </div>
                    </div>

                    <!--Address Input-->
                    <div class="mt-8">
                        <label class="px-4 text-base text-gray-700 w-full" for="address">Address<span class="text-red-400">**</span></label>
                        <div class="px-4">
                            <vue-google-autocomplete
                                    class="bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 mt-2 px-4 text-gray-700 leading-tight focus:outline-none focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                    ref="makeAddress"
                                    :id="`${index}`"
                                    classname="form-control"
                                    placeholder="Please type your address"
                                    v-on:placechanged="getAddressData"
                                    country="lk"
                            >
                            </vue-google-autocomplete>

                        </div>
                    </div>
                </div>
            </div>

            <!-- ===============================================-->
            <!--  SaveButton-->
            <!-- ===============================================-->
            <div class="bg-white mt-8 flex flex-row border shadow-md py-4 px-6 justify-between items-center">
                <div class="text-lg text-black font-bold ">
                Nice Job! You're almost done
                </div>
                <div>
                    <button  v-on:click="saveCases" type="button"class="bg-white hover:bg-gray-100 text-blue-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                        Add Case Report
                    </button>
                </div>
            </div>

        </div>
    </form>

    <!-- ===============================================-->
    <!--   Ends-Form Wrapper-->
    <!-- ===============================================-->
</div>

<!-- ===============================================-->
<!--    End Main Wrapper-->
<!-- ===============================================-->
</body>
<script th:src="@{|https://maps.googleapis.com/maps/api/js?
key=${mapKey}&libraries=places|}"></script>
<script th:src="@{/js/Case.js}"></script>
</html>