<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>MyHealth Sri Lanka Management Portal-Alerts</title>
    <meta name="viewport" content="width=device-width">
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/apple-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192"  th:href="@{/img/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/img/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon-16x16.png}">

    <link th:href="@{/css/app.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer></script>
</head>


<body class="bg-gray-50">


<!--Navigation Wrapper-->
<nav x-data="{ open: true }" class="bg-gray-800">
    <div class="max-w-6xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <button @click="open = !open" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white transition duration-150 ease-in-out">
                    <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path :class="{'hidden': open, 'inline-flex': !open }" class="inline-flex" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        <path :class="{'hidden': !open, 'inline-flex': open }" class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <!--Desktop Wrapper-->
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <h4 class="text-lg font-bold text-white">MyHealth Sri Lanka Management Portal</h4>
                <div class="flex-shrink-0">

<!--                    <img class="block lg:hidden h-8 w-auto" th:src="@{/Covid-19.png}" alt="Covid-19"  />-->
<!--                    <img class="hidden lg:block h-8 w-auto" th:src="@{/Covid-19.png}"alt="Covid-19" />-->
                </div>
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex">
                        <a href="/portal/dashboard" class="ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Dashboard</a>
                        <a href="/portal/news" class="px-3 py-2 rounded-md text-sm font-medium leading-5 text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Send Alerts</a>
                        <a href="/portal/cases" class="ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Send Case</a>
                    </div>
                </div>
            </div>
            <!--Mobile Wrapper-->
            <div>
                <a href="/portal/logout" class="ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Sign out</a>
            </div>
        </div>
    </div>
    <div :class="{'block': open, 'hidden': !open}" class="hidden sm:hidden">
        <div class="px-2 pt-2 pb-3">
            <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Send News</a>
            <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Send Case</a>
        </div>
    </div>
</nav>


<!--Main Wrapper-->

<div id="app" class="flex flex-col container max-w-6xl  mx-auto bg-gray-50 py-12 px-3 sm:px-6 lg:px-8">
    <div class="w-full flex flex-col mt-10">
        <div>
            <h1 class="text-4xl font-bold">Alerts Portal</h1>
        </div>
        <hr class="mt-5">
    </div>
    <form @submit.prevent="saveAlerts" method="post">
        <div class="w-full mt-5">
            <div class="border box-border rounded shadow-md pt-2">
                <h2 class= "bg-white mt-2 px-8 text-left text-2xl leading-9 font-extrabold text-gray-900">
                    Alert Information
                </h2>
                <div class="flex mt-2  py-4 flex-col w-full bg-gray-200 px-4">
                    <!--Title Input-->
                    <div class="mt-2">
                        <label class="px-4 text-xl text-gray-800 w-full " for="title">Title<span class="text-red-400">*</span></label>
                        <div class="px-4">
                            <input class=" bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 mt-2 px-4 text-gray-700 leading-tight focus:outline-none focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                   type="text" placeholder="Title" name="title" id="title" v-model="$v.alert.title.$model" :class="{'border-red-500':$v.alert.title.$error}">
                            <div v-if="$v.alert.title.$dirty">
                                <p class="text-red-500 text-xs italic" v-if="!$v.alert.title.required">Title  is required</p>
                                <p class="text-red-500 text-xs italic" v-if="!$v.alert.title.maxLength">Title must have at most 100 characters</p>

                            </div>

                        </div>
                    </div>

                    <!--SubTitle Input-->
                    <div class="mt-2">
                        <label class="px-4 text-xl text-gray-800 w-full " for="sub_title">Subtitle</label>
                        <div class="px-4">
                            <input
                                    class=" bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 mt-2 px-4 text-gray-700 leading-tight focus:outline-none focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                    type="text" placeholder="Subtitle"  name="subtitle" id="sub_title" v-model="alert.subtitle">

                            <div v-if="$v.alert.title.$dirty">
                                <p class="text-red-500 text-xs italic" v-if="!$v.alert.subtitle.maxLength">Sub Title must have at most 100 characters</p>
                            </div>
                        </div>
                    </div>

                    <!--Source Input-->
                    <div class="mt-2">
                        <label class="px-4 text-xl text-gray-800 w-full " for="source">Source<span class="text-red-400">*</span></label>
                        <div class="px-4">
                            <input class=" bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 mt-2 px-4 text-gray-700 leading-tight focus:outline-none focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                   type="text" placeholder="Source" id="source"   name="source"   v-model="$v.alert.source.$model" :class="{'border-red-500':$v.alert.source.$error}">
                            <div v-if="$v.alert.source.$dirty">
                                <p class="text-red-500 text-xs italic" v-if="!$v.alert.source.required">Source is required</p>
                                <p class="text-red-500 text-xs italic" v-if="!$v.alert.source.maxLength">Source must have at most 45 characters</p>

                            </div>
                        </div>
                    </div>
                    <div class="mt-8">
                        <label class="px-4 text-xl text-gray-800 w-full" for="english_description">English Alert<span class="text-red-400">*</span></label>
                        <div class="px-4">
                                    <textarea rows="3" class=" bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 mt-2 px-4 text-gray-700 leading-tight focus:outline-none focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                              type="text" placeholder="English Alert" id="english_description" required name="messageEn"   v-model="$v.alert.messageEn.$model" :class="{'border-red-500':$v.alert.messageEn.$error}"></textarea>

                            <div v-if="$v.alert.messageEn.$dirty">
                                <p class="text-red-500 text-xs italic" v-if="!$v.alert.messageEn.required">English Alerts is required</p>
                                <p class="text-red-500 text-xs italic" v-if="!$v.alert.messageEn.maxLength">English Alerts must have at most 1500 characters</p>
                            </div>
                        </div>

                    </div>

                    <div class="mt-8">
                        <label class="px-4 text-xl text-gray-800 w-full" for="sinhala_description">Sinhala Alert</label>
                        <div class="px-4">
                                    <textarea rows="3" class=" bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 mt-2 px-4 text-gray-700 leading-tight focus:outline-none focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                              type="text" placeholder="Sinhala Alert" id="sinhala_description"  name="messageSi"   v-model="$v.alert.messageSi.$model" ></textarea>
                            <div v-if="$v.alert.messageSi.$dirty">
                                <p class="text-red-500 text-xs italic" v-if="!$v.alert.messageSi.maxLength">Sinhala Alerts must have at most 1500 characters</p>
                            </div>
                        </div>

                    </div>

                    <div class="mt-8">
                        <label class="px-4 text-xl text-gray-800 w-full" for="tamil_description">Tamil Alert</label>
                        <div class="px-4">
                                    <textarea rows="3" class=" bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 mt-2 px-4 text-gray-700 leading-tight focus:outline-none focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                              type="text" placeholder="description" id="Tamil Alert" v-model="$v.alert.messageTa.$model"  name="messageTa" ></textarea>
                            <div v-if="$v.alert.messageSi.$dirty">
                                <p class="text-red-500 text-xs italic" v-if="!$v.alert.messageTa.maxLength">Tamil Alerts must have at most 1500 characters</p>
                            </div>
                        </div>
                    </div>

                    <div class="mt-8 flex justify-end px-4">

                        <button type="submit" :disabled="submitStatus" :class="{'opacity-50':submitStatus}" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                            Add New Alerts
                        </button>
                    </div>

                </div>
            </div>

        </div>
    </form>
</div>

<!--Main Wrapper Ends Here-->
</body>
<script th:src="@{/js/alerts.js}"></script>
</html>